.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 30px;
}
.rightWrapper{
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
}
.header{
    font-weight: bold;
    font-size: 66px;
    margin-top:50px;
}
.herocontent{
    width: 550px;
    font-size: 18px;
    color: #585858;
}
.inputbox{
    width: 438px;
    height: 74px;
    border-radius: 43px;
    border: inherit;
}
input[type="text"]{
    background-color: var(--color-textbox);
}